<% if @current_user.present? %>
       <%= "#{@current_user.email}" %>
       <br/>
        <%= find_today_attendance %>
        <%= clock_in_time = @today_attendance.clock_in if @today_attendance.present? %> 
        <% if clock_in_time.blank? %>
	  <%= button_to "出勤時間送信", {:action => "clock_in", :time => Time.now, :date => Date.today}, :remote => true, 
	                 :id => "clock_in_button" %>
	<% else %>
	   <%= @today_attendance.clock_in.strftime("出勤 %H時%M分%S秒")%>
	<% end %>

        <%= clock_out_time = @today_attendance.clock_out if @today_attendance.present? %> 
	<% if clock_out_time.blank? %>
	  <%= button_to "退勤時間送信", 
	    {:action => "clock_out", :time => Time.now, :date => Date.today}, :remote => true, 
	                 :id => "clock_out_button" %>
	<% else %>
	   <%= @today_attendance.clock_out.strftime("退勤 %H時%M分%S秒")%>
	<% end %>
	<br/>

	<%= link_to "Sign Out", signout_path , :method => :delete %>
      <% end %>
      <%= link_to "Sign in with Google", "/auth/google_login"%>
      <div id="tabs">
	<ul>
	  <li><a href="#tabs-3">Nunc tincidunt</a></li>
	  <li><a href="#tabs-2">Proin dolor</a></li>
	  <li><a href="#tabs-1">Aenean lacinia</a></li>
	</ul>
	<div id="tabs-1">
	  <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
	</div>
	<div id="tabs-2">
	  出勤
	  休日
	  有給休暇
	  半休
	  特別休暇
	  産前産後休暇
	  育児休暇
	  生理休暇
	</div>
	<div id="tabs-3">
	  <table>
	    <thead>
	      <tr>
		<th>日付</th>
		<th>区分</th>
		<th>出勤時間</th>
		<th>退勤時間</th>
		<th>休憩時間</th>
		<th>備考</th>
	      </tr>
	      <tbody>
		<% (Date.today.beginning_of_month..Date.today.end_of_month).each do |date| %> 
		  <tr>
		    <td><%=date.strftime("%d日(#{%w(日 月 火 水 木 金 土)[date.wday]})")%></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		  </tr>
		<% end %>
	      </tbody>
	    </table>
	  </div>
