<%= flash[:non_exist] %>
<%= "#{@user.lastname} #{@user.firstname}" %>
<br/>
 <% if @attendance_time.blank? %>
   <%= button_to "出勤時間送信", {:action => "regist_attendance_time"}, :remote => true, 
  :id => "attendance_button" %>
       <div id="attendance_time"></div>
 <% else %>
   <%= @attendance_time.time %>
 <% end %>
     <#% 出勤時間をクリックすると修正することができる。#>
     <#% このへんに時計を置く%>
   <br/>
   <% if @leaving_time.blank? %>
     <%= button_to "退勤時間送信", :action => "regist_leaving_time", :remote => true %>
   <% end %>
   <%= link_to "Sign Out", destroy_attendance_management_user_session_path, :method => :delete %>
